{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>سوغات</title>
  <link rel="stylesheet" href="{% static 'Soghat/css_style/css.css' %}">
</head>
<body>
  <div class="title">
    <p>سوغات همدان </p>
  </div>

  <div class="card">
    <img src="{% static 'Soghat/img/basloq.jpg' %}" alt="Product Image">
    <div class="content">
      <h1> باسلوق</h1>
      <p>شهر:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ملایر</p>
      
      <p>باسلوق به عنوان یک شیرینی مناسبتی شناخته می شود که در فصل زمستان تهیه می شود و در برخی مناسبت های خاص مانند عید نوروز به عنوان شیرینی پذیرایی مورد استفاده قرار می گیرد</p>
   
    
    </div>
  </div>
  
  <div class="card">
      <img src="{% static 'Soghat/img/grdo.jpg' %}" alt="Product Image">
      <div class="content">
        <h1>گردو</h1>
        <p>شهر:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;تویسرکان</p>
        
        <p>گردو تویسرکان یکی از بهترین ارقام گردو در کشور ما ایران است،شما می توانید با سفر به این شهر در فصل پاییز این محصول خوشمزه را خریداری کرده واز آن لذت ببرید</p>
      </div>
    </div>
  
    <div class="card">
      <img src="{% static 'Soghat/img/komaj.jpg' %}" alt="Product Image">
      <div class="content">
        <h1>کماج</h1>
        <p>شهر:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;همدان</p>
        
        <p>کماج شیرینی است که میتوان به عنوان میان وعده استفاده کرد این شیرینی از سوغات معروف و محبوب همدان است</p>
        
      </div>
    </div>
  
    <div class="card">
      <img src="{% static 'Soghat/img/halva-lozi.jpg' %}" alt="Product Image">
      <div class="content">
        <h1>حلوا زرده</h1>
        <p>شهر:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;همدان</p>
        
        <p> حلوا زرده به عنوان یک دسر مقوی و مفید مورد استفاده قرار می گیرد. با وجود زرده تخم مرغ، خاصیت حلوا بیشتر می شود و نسبت به حلواهای دیگر مقوی تر است</p>
        
      </div>
    </div>

</body>
</html>